/*************************************/
/* General CSS */
/*************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

body {
    font-size: 2.4rem;
    color: #34406a;
    background-color: #b2e7ff;
    font-family: "Encode Sans SC", sans-serif;
    overflow-x: hidden;
    font-weight: 500;
}

a,
button {
    all: unset;
    padding: auto;
    cursor: pointer;
}

ul {
    list-style: none;
}

.icons {
    font-size: 3.6rem;
}

p {
    font-family: sans-serif;
}

/*************************************/
/* HEADER Section */
/*************************************/

.header {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
    padding: 2.4rem 4.8rem;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
    gap: 2.4rem;
}

.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}

.main-nav-list,
.profile-nav-list {
    display: flex;
    position: relative;
    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited,
.icons:link,
.icons:visited {
    display: inline-block;
    text-decoration: none;
    /* color: #333; */
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.icons:hover,
.icons:active {
    color: #0062bd;
}

/* MOBILE */

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

#name {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.326);
}

/*************************************/
/* HERO Section */
/*************************************/

.hero-other-text {
    font-family: "Encode Sans SC", sans-serif;
}

#hero-name {
    font-size: 8.4rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: moving-text 3s linear infinite;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.326);
}

@keyframes moving-text {
    /* 0% {
        background-image: linear-gradient(45deg, #ff5733, #33ff57, #5733ff, #33ffff, #ff33f5);
        }
        25% {
            background-image: linear-gradient(45deg, #ff33f5, #ff5733, #33ff57, #5733ff, #33ffff);
            }
            50% {
                background-image: linear-gradient(45deg, #33ffff, #ff33f5 #ff5733, #33ff57, #5733ff);
                }
                75% {
                    background-image: linear-gradient(45deg, #5733ff, #33ffff, #ff33f5, #ff5733, #33ff57);
                    }
                    100% {
                        background-image: linear-gradient(45deg, #33ff57, #5733ff, #33ffff, #ff33f5, #ff5733);
                        } */
    /* 0% {
                            background-color: #ff5733;
                            }
                            25% {
                                background-color: #33ff57;
                                }
                                50% {
                                    background-color: #00ced1;
                                    }
                                    75% {
                                        background-color: #33ff57;
    }
    100% {
        background-color: #ff5733;
    } */
    0% {
        background-color: #f00;
    }
    25% {
        background-color: #0f0;
    }
    50% {
        background-color: #0091ff;
    }
    75% {
        background-color: #0f0;
    }
    100% {
        background-color: #f00;
    }
}

.section-hero,
.section-about-me,
.section-works,
.section-profiles,
.section-contact {
    padding: 4.8rem;
    padding-top: 5.6rem;
}

.section-hero {
    background-image: linear-gradient(180deg, #fff, #83d2f7);
    padding-bottom: 24rem;
}

.hero-text {
    text-align: center;
    line-height: 10rem;
    margin-top: 9.6rem;
}

/*************************************/
/* ABOUT ME Section */
/*************************************/

.section-about-me > .sub-heading {
    font-size: 4rem;
    text-align: right;
    padding: 3.6rem 10.8rem;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    text-align: justify;
}
.about-img {
    width: 48rem;
    height: 48rem;
    /* visibility: hidden; */
    border-radius: 50%;
    transition: all 1s;
}

.about-img:hover {
    transition: all 1s;
    transform: rotate3d(0, 1, 0, 180deg);
}

.about-text-box {
    width: 50%;
}

.skills {
    padding-top: 2.4rem;
    font-family: "Encode Sans SC", sans-serif;
}

.section-about-me {
    padding-bottom: 12rem;
}

/*************************************/
/* PROJECTS Section */
/*************************************/

.section-works > .sub-heading {
    text-align: center;
    font-size: 4rem;
    padding: 3.6rem 0;
}

.projects-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 2.4rem;
}

.project-card {
    border: 2px solid #34406a;
    border-radius: 1.6rem;
    margin: 3.6rem;
    width: auto;
    /* height: 54rem; */
    position: relative;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.326);
    transition: 0.5s all;
    overflow: hidden;
}

.webApp::after {
    content: "Web App";
    position: absolute;
    top: 5%;
    right: -18%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #3bffeb;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}

.single-page-website::after {
    content: "SPW";
    position: absolute;
    top: 5%;
    right: -18%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #7cff3b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
    /* content: "Single Page Website";
    position: absolute;
    top: 78%;
    right: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
    background-color: #7cff3b;
    padding: 0.4rem 4rem;
    width: 32rem; */
}

.project-card:hover {
    transform: scale(1.2);
    transition: 0.5s all;
}

.project-img {
    padding: 1.6rem;
    width: 100%;
    height: 24rem;
    border-bottom: 2px solid #34406a;
}

.project-text-box {
    padding: 0.8rem;
    height: 26rem;
}

.project-description {
    font-size: 2rem;
    padding: 2.4rem 1.6rem;
    text-align: left;
}

.project-btn {
    width: 10rem;
    height: 3.2rem;
    font-size: 1.6rem;
    border-radius: 0.7rem;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    border: none;
    background: #3d3d3d;
    color: #fff;
    padding: 0.5rem;
    margin: 2rem 1rem;
    cursor: pointer;
    transition: 0.5s all;
}

.project-btn:hover {
    filter: brightness(120%);
    transform: scale(95%);
    color: #3d3d3d;
    background-color: #fff;
    font-weight: 800;
    transition: 0.5s all;
}

.skill-tag {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    margin: 0.4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border: 2px solid;
    border-radius: 100px;
    /* border-top-right-radius: 100px;
    border-bottom-right-radius: 100px; */
    border-color: #333;
    font-weight: 600;
    /* color: #fff; */
}

.tag--html-css {
    background-color: #9effb7;
}

.tag--js {
    background-color: #fff428;
}

.tag--jQuery {
    background-color: #b780ff;
}

.tag--ejs {
    background-color: #87ff97;
    /* color: #fff; */
}

.tag--expressjs {
    background-color: #6ea1ff;
    /* color: #fff; */
}

.tag--mysql {
    background-color: #ff7171;
}

.tag--git-github {
    background-color: #000;
    color: #fff;
}

.additional-info {
    padding: 2.4rem;
    padding-bottom: 0;
    text-align: center;
    /* font-family: "Encode Sans SC", sans-serif; */
}

.section-works {
    padding-bottom: 8rem;
}

/*************************************/
/* PROFILES Section */
/*************************************/

.section-profiles > .sub-heading {
    font-size: 4rem;
    padding: 3.6rem 10.8rem;
}

.profile-container-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4.8rem 0;
}

.profile-card {
    border: 2px solid #34406a;
    border-radius: 1.5rem;
    transition: 0.5s all;
    opacity: 0.75;
    text-align: center;
    padding: 2.4rem;
    padding-top: 4.8rem;
    background-image: linear-gradient(135deg, #fff, #fff, #b2e7ff, #b2e7ff, #b2e7ff, #fff, #fff);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.326);
}

.profile-card:hover {
    transform: scale(1.2);
    opacity: 1;
    transition: 0.5s all;
}

.profile-img-box {
    border-radius: 2.4rem;
}

.profile-img {
    overflow: hidden;
    border-radius: 50%;
    /* max-width: 100%;
    height: auto; */
    width: 24rem;
    height: 24rem;
    object-fit: contain;
    margin-bottom: 1.2rem;
}

.section-profiles {
    padding-bottom: 8rem;
}

/*************************************/
/* RESUME Section */
/*************************************/

.section-resume-download > .sub-heading {
    text-align: center;
    font-size: 4rem;
    padding: 3.6rem 10.8rem;
}

.resume-container {
    padding: 2.4rem 0;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.download-btn {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    background-color: #34406a;
    color: #b2e7ff;
    text-align: center;
    /* width: 32rem; */
    padding: 2.4rem;
    font-size: 3.2rem;
    border-radius: 20rem;
    transition: 1s all;
}

.section-resume-download {
    padding-bottom: 8rem;
}

/*************************************/
/* FOOTER Section */
/*************************************/

.footer > .sub-heading {
    text-align: center;
    font-size: 4rem;
    padding: 3.6rem 10.8rem;
}

.footer {
    background-color: #34406a;
    color: #b2e7ff;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.2rem;
    /* border-bottom: 0.2rem solid #ffffff; */
}

.footer-box .profile-container-list {
    gap: 10rem;
    padding: 0;
}

.profile-logos {
    /* opacity: 0.75; */
    transition: 0.5s all;
}

.profile-logos:hover {
    opacity: 1;
    transform: scale(1.5);
    transition: 0.5s all;
}

.copy {
    font-size: 2rem;
}

.credit {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    padding: 1.6rem 0;
    color: #b2e7ff;
}
